//
// Color Variables
//
$font-family: 'Muli', sans-serif;

$white-color: #ffffff;
$black-color: #000000;

$primary-color: #203061;
$primary-color-light: #f5f7ff;

$grey-color-1: #f8f8f8;
$grey-color-2: #9b9b9b;
$grey-color-3: #fafafa;
$grey-color-4: #77808a;
$grey-color-5: #e0e2eb;
$grey-color-6: #edf1f7;
$grey-color-7: #ececec;
$grey-color-8: #707070;

$green-color: #2abc78;
$red-color: #ff0000;

$small-sidebar-width: 7rem;
$large-sidebar-width: 32rem;

$header-height: 7.8rem;
