// ---------------------------------------------------------------------------------------------
// ===================================  Class for Margin and Padding  ======================================
// ---------------------------------------------------------------------------------------------

$directions: (top, left, right, bottom);
$spaceList: (0, 1, 2, 3, 4, 5, 6, 7, 9, 10);
@each $space in $spaceList {
    @each $direction in $directions {
        .M#{to_upper_case(str_slice($direction,0,1))}-#{$space} {
            margin-#{$direction}: #{$space}rem !important;
        }

        .P#{to_upper_case(str_slice($direction,0,1))}-#{$space} {
            padding-#{$direction}: #{$space}rem !important;
        }
    }
}

.PLR-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MT-25 {
    margin-top: 2.5rem !important;
}
