.mat-flat-button.mat-button-base.mat-primary,
.mat-flat-button.mat-button-base.mat-accent {
    height: 4.4rem;
    min-width: 11rem;

    .mat-button-wrapper {
        font-size: 1.8rem;
    }

    mat-icon {
        @include square(1.4rem);
        vertical-align: top;
        position: relative;
        top: 0.15rem;
        margin-right: 0.5rem;
    }
}

.mat-flat-button.mat-button-base.mat-accent {
    background: $grey-color-6;

    .mat-button-wrapper {
        color: $primary-color;
    }
}

.auth-container {
    .mat-flat-button.mat-button-base.mat-primary,
    .mat-flat-button.mat-button-base.mat-accent {
        min-width: 13rem;
    }
}
