.data-form {
    padding: 0 2.8rem;

    h2 {
        color: $black-color;
        font-size: 2.6rem;
        font-weight: 600;
        margin-top: 3rem;
    }

    &__body {
        margin-top: 4rem;
    }

    .mat-select-value {
        top: 0 !important;
    }
}

.upload-image-field {
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }

    .mat-form-field-flex,
    input {
        cursor: pointer;
    }

    button {
        display: inline-block;
        position: absolute;
        right: -1rem;
        top: 1.5rem;
        span {
            display: block;
        }
        .mat-icon {
            color: #768089;
            display: block;
            position: relative;
            margin: 0 auto;
            width: 2rem;
            height: 1.5rem;
            top: -5px;
        }
    }
}

// .upload-image-field,
// .date-picker-field {
//     .mat-form-field-flex,
//     input {
//         cursor: pointer;
//     }
//     .mat-datepicker-toggle {
//         button {
//             top: 0.2rem;
//             @include respond('regular-desktop') {
//                 top: -0.3rem;
//             }
//         }
//     }
// }
